.col-md-2 {
    font-family:sans-serif;
    display:flex;
}
.guides {
    width:90px;
    height: 200px;
    background-color:#DDD;
    background-image: url("https://d19m59y37dris4.cloudfront.net/directory/1-5/img/photo/paris.jpg");
    background-position: center;
    background-size: cover;
    font-size:12px;
}
.guides .info-city {
      height: 100%;
      
      display: flex;
      align-items: flex-end;
      padding:8px;
      box-sizing: border-box;
      color: white;
  
}